body {
    font-family: 'Arial', sans-serif;
    background-color: #124c81;
    color: #fff;
}

.App {
    text-align: center;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #4e6190;
    border-radius: 10px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
}